@model List<BotConstructor.Database.Models.Message>
@{
    ViewData["Title"] = "List";
}

<h1>List</h1>

<div class="text-right">
    <a asp-action="Edit" asp-controller="Message" class="btn btn-success btn-sm">+</a>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Bot Name</th>
            <th>Input</th>
            <th>Output</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var message in Model)
        {
            <tr>
                <td>@message.Bot.Title</td>
                <td><a asp-action="Edit" asp-controller="Message" asp-route-id="@message.Id">@message.InputMessage</a></td>
                <td>@message.OutputMessage</td>
            </tr>
        }
    </tbody>
</table>

