@model BotConstructor.Web.Models.Quiz.QuizStepViewModel

@{
    ViewData["Title"] = "EditStep";
}

<h3>Edit Step - @Model.Name</h3>
<form asp-action="EditStep" asp-controller="Quiz" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input asp-for="Id" type="hidden" />
    <input asp-for="QuizId" type="hidden" />
    <div class="row">
        <div class="form-group col-6 row">
            <label class="col-form-label col-2">Name:</label>
            <div class="col-10">
                <input asp-for="Name" class="form-control" type="text" />
            </div>
        </div>
        <div class="form-group col-6 row">
            <label class="col-form-label col-2">Text:</label>
            <div class="col-10">
                <input asp-for="Text" class="form-control" type="text" />
            </div>
        </div>
        <div class="form-group col-6 row">
            <label class="col-form-label col-2">Step:</label>
            <div class="col-10">
                <input asp-for="StepNumber" class="form-control" type="number" />
            </div>
        </div>
        <div class="col-12">
            <button class="btn btn-success">Create</button>
            <a asp-action="Edit" asp-controller="Quiz" asp-route-id="@Model.QuizId">Cancel</a>
        </div>
    </div>
</form>